body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2d2d2d;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.terminal {
    width: 100%;
    max-width: 400px;
    background-color: #1e1e1e;
    border-radius: 6px;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.output {
    margin-bottom: 2em;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
}

input {
    background: none;
    border: none;
    color: inherit;
    outline: none;
    font: inherit;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% auto;
    align-items: center;

}

button {
    width: 8em;
    height: 2.8em;
    border-radius: .8em;
}