body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #2d2d2d;
    color: #cccccc;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.header {
    font-size: 18px;
    color: black;
    margin: 0 10px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #0fc9f3;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terminal {
    width: 100%;
    /* max-width: 400px; */
    background-color: #1e1e1e;
    border-radius: 6px;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.output {
    margin-bottom: 2em;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 10px;
}

input {
    background: none;
    border: none;
    color: inherit;
    outline: none;
    font: inherit;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% auto;
    align-items: center;

}

button {
    width: 8em;
    height: 2.8em;
    border-radius: .8em;
}

.footer {
    padding: 24px;
    color: #000000;
    background-color: #22D4FD;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    bottom: 0;
}